.services {
    background: rgba(255, 255, 255, 1);
    padding: 50px 0 65px 0;
    position: relative;
    
    h2 {
        color: rgba(58, 63, 75, 1);
        font-family: var(--montserrat);
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    &__info {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
        margin-top: 35px;

        &-item {
            width: 324px;
            height: 162px;
            border: 1px solid rgba(13, 162, 231, 0.1);
            border-radius: 8px;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
            background: rgba(255, 255, 255, 1);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 20px;

            p {
                color: rgba(58, 63, 75, 1);
                font-size: 18px;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1024px) {
    .services {
        padding: 45px 0 60px 0;

        h2 {
            font-size: 32px;
        }

        &__info {
            column-gap: 20px;
            row-gap: 20px;
            margin-top: 30px;

            &-item {
                width: 280px;
                height: 150px;
                row-gap: 18px;

                p {
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .services {
        padding: 40px 0 50px 0;

        h2 {
            font-size: 28px;
        }

        &__info {
            column-gap: 16px;
            row-gap: 16px;
            margin-top: 25px;

            &-item {
                width: 240px;
                height: 140px;
                row-gap: 16px;

                p {
                    font-size: 16px;
                }

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .services {
        padding: 35px 0 40px 0;

        h2 {
            font-size: 24px;
        }

        &__info {
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            margin-top: 20px;

            &-item {
                width: 100%;
                max-width: 320px;
                height: 120px;
                row-gap: 14px;

                p {
                    font-size: 16px;
                }

                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .services {
        padding: 30px 0 35px 0;

        h2 {
            font-size: 22px;
        }

        &__info {
            row-gap: 12px;
            margin-top: 18px;

            &-item {
                height: 110px;
                row-gap: 12px;
                padding: 0 15px;

                p {
                    font-size: 15px;
                }

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .services {
        padding: 25px 0 30px 0;

        h2 {
            font-size: 20px;
        }

        &__info {
            row-gap: 10px;
            margin-top: 15px;

            &-item {
                height: 100px;
                row-gap: 10px;

                p {
                    font-size: 14px;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .services {
        padding: 30px 0 40px 0;

        &__info {
            margin-top: 20px;

            &-item {
                height: 130px;
                row-gap: 15px;
            }
        }
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .services {
        &__info {
            flex-direction: row;
            flex-wrap: wrap;
            
            &-item {
                width: calc(50% - 12px);
                height: 120px;
            }
        }
    }
}

@media (max-width: 600px) and (orientation: landscape) {
    .services {
        padding: 25px 0 30px 0;

        &__info {
            &-item {
                width: calc(50% - 10px);
                height: 110px;
                row-gap: 12px;

                p {
                    font-size: 14px;
                }
            }
        }
    }
}