html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	position: relative;
	background-color: #fff;
	color: rgba(107, 114, 128, 1);
	
    font-family: "Open Sans", sans-serif;
	max-width: 100%;
	animation: pageFadeIn 0.4s ease-in-out;
}

@keyframes pageFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
